Lib/
Scripts/
AutomateTheBoringStuff2E.code-workspace
pyvenv.cfg
Romeo.txt
example.html
Include/site/python3.8/greenlet/greenlet.h
output/
__pycache__/google_news_result_opener.cpython-38.pyc
xkcd/
CV_Writer/__pycache__/CV_writer.cpython-38.pyc
